*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0 auto;
    background-color: #e2f1bf;
    font-size: 100%;
    
}
    
    
header{
    width: 100%;
    margin: 0 auto;
    background: #ADA996;  
    background: -webkit-linear-gradient(to right, #eaeaeab0, #dbdbdb52, #f2f2f27c, #ada9966b), url(imagenes/matrix7.jpg);
    background: linear-gradient(to right, #eaeaeab0, #dbdbdb52, #f2f2f27c, #ada9966b), url(imagenes/matrix7.jpg); 
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.caja{
    
    height: 10em;
    
}
.letra{
    position: absolute;
    margin: 0 0 0 20px;
    scale: 2;
    padding: 2em;
}

main{
    width: 100%;
    margin: 0 auto; 
    background: #ADA996;  
    background: -webkit-linear-gradient(to right, #eaeaeab0, #dbdbdb52, #f2f2f27c, #ada9966b), url(imagenes/matrix7.jpg);
    background: linear-gradient(to right, #eaeaeab0, #dbdbdb52, #f2f2f27c, #ada9966b), url(imagenes/matrix7.jpg); 
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
p{
    padding: 1em;
}
h3{
    font-weight: lighter;
   
}
#numCaracteres{
    text-align: center;
    text-justify: auto;
}
#numCaracteresModificado{
    text-align: center;
    text-justify: auto;
}
.principal{
    display:inline-flex;
    width: 100%;
    
    /*height: 5em;*/
    text-justify: auto;
    text-align: center;
    background-color: #85c0d860;
}
.titulo-principal{
    margin: auto;
    font-size: 2rem;
    font-weight:bold;
    color: #7a0a59;
    
   
}
.textos{
    display: block;
    position: relative;
    margin-bottom: 2em;
    
    width: 100%;
    height: 40em;
    font-size: 0.75rem;

}
hr{
    border-top: 0.2em solid #000000;
   
    
    
}
.textoOriginal{
    float: left;
    position: absolute;
    top: 1em;
    left: 2em;
    width: 35%;
    font-weight:bold;
    color: #000000;
    font-size: 1.2rem;
}

#mensajeOriginal{
    width: 100%;
    border: 0.15em solid #85d8a8;
    border-radius: 0.7em;
    resize: none;
    padding: 1em;
    font-weight:bold;
    font-size: 1em;
    color: #000000;
    

}
.textoModificado{
    float: left;
    position: absolute;
    top: 1em;
    right: 3em;
    width: 45%;
    font-weight:bold;
    color: #000000;
    font-size: 1.2rem;
   
   
    
    
}
#mensajeModificado{
    width: 100%;
    border: 0.15em solid #85c0d8;
    border-radius: 0.7em;
    resize: none;
    font-weight:bold;
    font-size: 1em;
    color: #000000;
    
   
    background:#ffffffad ;
    padding: 1em;
   
  
}
#soloMuñeco{
    
    width:auto;
    
}
#muñeco{
    width:19em;
    height:19em;
    position: absolute;
    right: 0.15em;
    
    top: 9em;
    /*grid-column-start: 5; 
    grid-column-end: 6; */
    
}

.restriccion{
    display:flex;
    margin: 3em auto;
    padding-top: 1em;
    padding-left: 2em;
    background-color: #7a0a5930;

}
p strong{
    font-weight: bold;
    color: #b6e47a;
}

.botones{
    display:inline-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: #42adeb00
    

}

.boton1{
    flex: 3;
    height: 3.2em;
    padding: 0.5em;
    margin: 1.2em;
    background: #0A3871;
    border-radius: 1.5em;

    font-family: 'Inter';
    font-style: normal;
    font-size: 1.5em;
    /*line-height: 1.2em;*/

    align-content: center;
    text-align: center;
    color: #FFFFFF;
}

#boton2{
    flex: 1;
    height: 3.2em;
    padding: 0.5em;
    margin: 1.2em;
    background: #ffffff;
    border: 0.2em solid black;
    border-radius: 1.5em;
    
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.5em;
    line-height: 1.2em;
    text-align: center;
    color: #f50303;
    
}
.reset{
    flex: 1;
    height: 3.2em;
    padding: 0.5em;
    margin: 1.2em;
    background: #bce6b2;
    border-radius: 1.5em;
    
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.5em;
    line-height: 1.2em;
    text-align: center;
    color: #f50303;
    
}

.boton1:hover{
    background-color: coral;
    color: #000000;
    transform: scale(1.15);
    box-shadow: 0 0.5em #41a1f0;
    
    
}

.boton1:active{
    background-color: coral;
    color: #000000;
    transform: scale(1.15);
    box-shadow: 0 0.5em #41a1f0;
    transform: translateY(0.5em);
    
}

#boton2:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    transform: scale(1.15);
    
}

.reset:hover{
    background-color: rgb(231, 213, 206);
    color: #000000;
    transform: scale(1.15);
    
}

footer{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.7em;
    padding: 0.21em;
    background: #b4f3de10;

}
footer p{
    text-justify: center;
    text-align: center;
}



@media screen and (max-width:480px){ 
    .caja, .principal{
        width: 100%;
        margin: 0 auto;
    }

    .textos{
        display: block;
    }

    .textoOriginal{
        position: relative;
        float: left;
        margin: 0 auto;
        width: 80%;
    }

    .textoModificado{
        position: relative;
        float: right;
        margin: 0 auto;
        width: 80%;
    } 

    .restriccion{
        position: relative;
        float: left;
        width: 100%;
        height: auto;
    }

    #soloMuñeco{
    display: inline-block;
    position: absolute;
    top: 700px;
    }
}